In [1]:
import pandas as pd
import numpy as np

In [5]:
data = {
    "Order_ID": range(1, 51),
    "Order_Date": pd.date_range(start="2024-01-01", periods=50, freq='D'),
    "Product": np.random.choice(
        ["Laptop", "Mobile", "Notebook", "Pen", "Shirt", "Shoes", "Rice", "Oil"], 50),
    "Category": np.random.choice(
        ["Electronics", "Stationery", "Fashion", "Groceries"], 50),
    "Quantity": np.random.randint(1, 6, 50),
    "Price": np.random.randint(50, 5000, 50)
}

df = pd.DataFrame(data)
df.head()

   Order_ID Order_Date Product     Category  Quantity  Price
0         1 2024-01-01    Rice   Stationery         3   2636
1         2 2024-01-02     Oil    Groceries         3   2685
2         3 2024-01-03  Laptop   Stationery         4   1224
3         4 2024-01-04   Shirt  Electronics         2   1427
4         5 2024-01-05    Rice    Groceries         2   1057

In [6]:
df["Total_Sales"]=df["Quantity"]* df["Price"]
df.head()

   Order_ID Order_Date Product     Category  Quantity  Price  Total_Sales
0         1 2024-01-01    Rice   Stationery         3   2636         7908
1         2 2024-01-02     Oil    Groceries         3   2685         8055
2         3 2024-01-03  Laptop   Stationery         4   1224         4896
3         4 2024-01-04   Shirt  Electronics         2   1427         2854
4         5 2024-01-05    Rice    Groceries         2   1057         2114

In [8]:
total_revenue=df["Total_Sales"].sum()
total_orders=df["Order_ID"].count()
print("Total Revenue:",total_revenue)
print("Total Orders:", total_orders)

Total Revenue: 344111
Total Orders: 50

In [9]:
product_sales=df.groupby("Product")["Total_Sales"].sum().sort_values(ascending=False)
product_sales

Product
Shirt       90818
Notebook    73546
Oil         55236
Laptop      46251
Shoes       38150
Rice        31949
Pen          4684
Mobile       3477
Name: Total_Sales, dtype: int64

In [10]:
category_sales=df.groupby("Category")["Total_Sales"].sum()
category_sales

Category
Electronics     46983
Fashion         98097
Groceries       93277
Stationery     105754
Name: Total_Sales, dtype: int64

In [12]:
df["Month"]=df["Order_Date"].dt.month
monthly_sales=df.groupby("Month")["Total_Sales"].sum()
monthly_sales

Month
1    204928
2    139183
Name: Total_Sales, dtype: int64

In [15]:
df.to_csv("weeek2_sales_analysis_output.csv",index=False)